html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
}

a {
    cursor: pointer;
}

.nav-bar-space {
    height: 65px;
    padding-top: 50px;
    margin-bottom: 20px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #FFFFFF !important;
    color: #000000;
    transition: background-color 200ms cubic-bezier(.83,.06,1,1);
    transition: padding-top 200ms ease-in-out;
}

.nav-bar-space.scolled-nav-bar {
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: #010101 !important;
    height: 60px;
    color: #FFFFFF;
    transition: background-color 200ms cubic-bezier(.83,.06,1,1);
    transition: padding-top 200ms ease-in-out;
}

.nav-bar {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
}

.nav-bar-logo {
    width: 100%;
    padding-right: 0;
}

.nav-bar-list {
    list-style: none;
    display: flex;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-bar-list-element {
    width: 100px;
    height: 40px;
    padding-left: 20px;
    text-align: right;
    line-height: 40px;
}

.nav-bar-list-element:hover {
    line-height: 55px;
    transition: line-height 50ms cubic-bezier(.83,.06,1,1);
}

.page-content {
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    position: relative;
}

.first-page {
    padding-top: 95px;
}

.heading-text-highlight {
    font-size: 45px;
    font-weight: bold;
    margin-top: 80px;
}

.generic-button {
    background-color: #101010;
    color: #FFFFFF;
    font-size: 16px;
    width: 250px;
    height: 40px;
    border-radius: 18px;
    border-style: none;
    cursor: pointer;
}

.bottom-banner-space {
    height: 280px;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #000000;
    color: #FFFFFF;
}

.bottom-banner-space h1 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #979797;
}

.bottom-banner-menu {
    margin-left: 60px;
    width: 20%;
    margin-right: 30px;
}

.bottom-banner-contact {
    width: 40%;
    margin-right: 30px;
}

.bottom-banner-contact p{
    margin-top: 5px;
    margin-bottom: 15px;
}

.bottom-banner-menu a {
    display: block;
    line-height: 30px;
    transition: padding-left 50ms ease-in;
}

.bottom-banner-menu a:hover {
    padding-left: 5px
}

.bottom-banner-social {
    width: 30%;
    padding-right: 60px;
}

.social-media-icons {
    width: 20px;
}

.contact-content{
    display: flex;
    position: relative;
}

.contact-content table {
    width: 50%;
}

.contact-content div {
    margin-left: 20px;
    width: 100%;
}

.social-content {
    display: flex;
    margin-top: 20px;
}

.social-placeholder{
    margin-top: 20px;
    width: 100%;
    bottom: 0;
}

.social-content p {
    margin: 0;
    padding-left: 8px;
    margin-left: 10px;
    border-left: solid 2px #FFFFFF;
}

.copyright-bar {
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    background-color: #010101;
    padding-bottom: 4px;
}